:root { 
--gray_600:#ac6651; 
--gray_600_01:#717275; 
--gray_500:#999999; 
--blue_A700:#0261fe; 
--gray_900:#161920; 
--red_500:#e74d3d; 
--teal_50:#d1eff3; 
--gray_300:#dedede; 
--gray_50:#f6f9fb; 
--blue_50:#eef4ff; 
--cyan_200:#6bd9e9; 
--black_900:#000000; 
--blue_gray_900:#333333; 
--white_A700:#ffffff; 
}